#bg-movies {
    background-image: url('../../Assets/bg-netflix.jpg');
    background-size: cover;
    border-bottom: 5px solid #222;
    position: relative;
    padding-top: 250px;
    padding-bottom: 150px;

    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        z-index: 1;
    }

    .header-content {
        float: left;
        width: 48%;
        text-align: center;
    }
}

#enjoy-tv {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 5px solid #222;

    .tv-content {
        float: left;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tv-texts {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10%;
            margin-top: 30px;
        }

        .tv-image {
            width: 50%;
            position: relative;

            img {
                width: 80%;
            }

            .video-loop {
                width: 59%;
                position: absolute;
                top: 79px;
                left: 66px;
                z-index: -1;
            }
        }
    }
}

#offline-series {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 5px solid #222;

    .tv-content {
        float: left;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tv-image {
            width: 40%;
            position: relative;

            img {
                width: 100%;
            }

            .card-animation {
                width: 66%;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                border: 2px solid #222;
                border-radius: 10px;
                position: absolute;
                top: 65%;
                left: 85px;
                background-color: #000;

                .cover {
                    width: 18%;
                    height: 70px;
                    margin-right: 20px;
                }

                .card-content {
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-size: 14px;
                    }

                    span {
                        font-size: 14px;
                        color: #0051a9;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .gif {
                    width: 17%;
                    height: 60px;
                    padding-top: 10px;
                }
            }
        }

        .tv-texts {
            width: 40%;
            margin-right: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10%;
            margin-top: 30px;
        }
    }
}

#watch {
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 5px solid #222;

    .tv-content {
        float: left;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tv-texts {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10%;
            margin-top: 30px;
        }

        .tv-image {
            width: 50%;
            position: relative;

            img {
                width: 80%;
            }

            .video-loop-2 {
                width: 48%;
                position: absolute;
                top: 43px;
                left: 100px;
                z-index: -1;
            }
        }
    }
}

#questions {
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
    border-bottom: 5px solid #222;

    .questions-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-bottom: 50px;
        }

        ul {
            float: left;
            width: 60%;
            margin-bottom: 60px;

            li {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: #222;
                padding: 15px 30px;
                margin-bottom: 10px;
                cursor: pointer;

                h2 {
                    margin-bottom: 0;
                }

                img {
                    width: 6%;
                }
            }
        }
    }  
}

#footer {
    float: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;

    .footer-content {
        margin-left: 15%;

        h3 {
            font-size: 15px;
            font-weight: 400;
            color: #757575;
            margin-bottom: 30px;

            span {

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .lists-netflix {
            display: flex;
            margin-bottom: 20px;

            ul {
                margin-right: 5%;

                li {
                    margin-bottom: 15px;

                    a {
                        font-size: 13px;
                        font-weight: 500;
                        color: #757575;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .select-option {
            position: relative;

            .globe {
                position: absolute;
                left: 15px;
                top: 20.5%;
            }

            select {
                border: 1px solid #6b6b6b;
                background-color: transparent;
                color: #757575;
                font-size: 16px;
                font-weight: 600;
                padding: 18px 5px 18px 45px;
                margin-bottom: 20px;

                option {
                    background-color: #000;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            p {
                font-size: 13px;
                font-weight: 500;
                color: #757575;
            }
        }
    }
}