* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    line-height: 1;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 46px;
    margin-bottom: 20px;
    line-height: 1.1;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.1;
}

#header {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 160px;
    position: absolute;
    
    .flex-position {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;

        .header-logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 180px;
    
            img {
                width: 10%;
            }
    
            a {
                background-color: #e50914;
                padding: 10px 15px;
                border-radius: 3px;
            }
        }
    }
}

.flex-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.sign-up {
    width: 55%;
    text-align: center;

    p {
        font-size: 18px;
    }

    .inputs {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        input {
            height: 50px;
            margin-bottom: 15px;
            border: none;

            &::placeholder {
                color: #acacac;
                font-weight: 500;
            }

            &[placeholder] {
                padding-left: 15px;
            }

            &[value] {
                font-size: 22px;
                text-transform: uppercase;
                color: #fff;
                background-color: #e50914;
            }
        }

        .arrow {
            width: 2.5%;
            position: absolute;
            right: 15px;
            top: 25px;
            transform: translateY(-50%);
        }

        input[type="text"] {
            width: 60%;
        }

        input[type="submit"] {
            width: 40%;
            cursor: pointer;
        }
    }
}